
1 Handling data.ipynb
2 Clustering algorithms_PRML.ipynb
3 Dimensionality reduction.ipynb
4 Probabilistic_classifiers.ipynb
5 Performance_evaluation.ipynb
degas.jpg
entropy_img.ipynb
Tema 4 Analisis de datos.pdf
vangogh.jpg
